@page "/product/{Id:guid}"
@using DeveloperCourse.SecondTask.Market.Services.Product
@using DeveloperCourse.SecondTask.Market.Services.Product.DTOs
@inject IProductService ProductService
@inject NavigationManager NavigationManager

<BSBreadcrumb>
    <BSBreadcrumbItem>
        <a href="/products">Products</a>
    </BSBreadcrumbItem>
    <BSBreadcrumbItem IsActive="true">@(_product?.Name ?? "Product not found")</BSBreadcrumbItem>
</BSBreadcrumb>

@if (_product == null)
{
    <div style="position:relative; top: 40vh; width:100%; text-align:center">
        <p style="font-size: 3rem;"><i class="fas fa-spin fa-spinner"></i>Loading...</p>
    </div>
}
else
{
    <BSContainer>
        <BSRow>
            <BSCol>
                <h2>@_product.Name</h2>
            </BSCol>
        </BSRow>
        <BSRow>
            <BSCol>
                <p style="font-size: small">SKU : @_product.Sku</p>
            </BSCol>
        </BSRow>
        <BSRow>
            <BSCol>
                @if (_product?.Images?.Any() ?? false)
                {
                    <BSCarousel NumberOfItems="@_imageCount" Fade="true">
                        <BSCarouselIndicators NumberOfItems="@_imageCount"/>
                        <div class="carousel-inner">

                            @foreach (var productImage in _product.Images)
                            {
                                <BSCarouselItem src="@productImage.Link.ToString()" style="height:386px; background-size:cover; background-position: center center;"/>
                            }
                        </div>
                        <BSCarouselControl CarouselDirection="CarouselDirection.Previous" NumberOfItems="@_imageCount"/>
                        <BSCarouselControl CarouselDirection="CarouselDirection.Next" NumberOfItems="@_imageCount"/>
                    </BSCarousel>
                }
                else
                {
                    <img src="/icons/cloud.svg" style="height:386px; background-size:cover; background-position: center center; display: flex;margin: auto;"/>
                }

            </BSCol>
            <BSCol SM="3">
                <h4 style="margin: 10px 0 10px 0">Prices</h4>
                @if (_product?.Prices?.Any() ?? false)
                {
                    <BSListGroup>
                        @foreach (var productPrice in _product.Prices)
                        {
                            <BSListGroupItem>@productPrice.Retail @productPrice.Currency.ToString()</BSListGroupItem>
                        }
                    </BSListGroup>
                }
                else
                {
                    <p style="font-size: medium">Prices is not available.</p>
                }

                <h4 style="margin: 10px 0 10px 0">Description</h4>
                <p style="font-size: medium">@_product.Description</p>
            </BSCol>
        </BSRow>
    </BSContainer>
}


@code {

    [Parameter]
    public Guid Id { get; set; }

    private ProductDto _product;

    private int _imageCount;

    protected override async Task OnInitializedAsync()
    {
        await UpdateData();
    }

    private async Task UpdateData()
    {
        try
        {
            var response = await ProductService.GetProduct(Id);

            _product = response.Product;
            _imageCount = _product?.Images?.Count() ?? 0;
        }
        catch (Exception)
        {
            _product = null;
        }
    }

}